<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some Library</title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'urlapp/style.css' %}" />
</head>

<body>

<ul>
{% for book in books %}
  <li>
    {{ book }}
    <a href="{% url 'libapp:checkout' bookpk=book.pk %}">
    
    {% if user.is_authenticated %}
      {% if book.borrower == user %}
          <button type="submit">Check-in</button>
      {% elif book.checked_out == False %}
          <button type="submit">Check-out</button>
      {% endif %}
    {% endif %}
    </a>
  </li>
{% endfor%}
</ul>

{# the following list is to show books the user has registered under their name  #}
<ul>
    <ul>checked out books</ul>
    {% for book in borrowlist %}
    <ul>{{ book }}</ul>
    {% endfor %}
</ul>

  <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
   {% endif %} 
  </ul>

</body>

</html>


